[core]
        fileMode = false
        compression = 7
        bigFileThreshold = 1g
        editor = '/usr/bin/emacs -nw'
        pager = cat
        autocrlf = input

[alias]
        branchg = "branch --all --verbose"
        diffg = "diff --summary --stat=80 --dirstat=files,cumulative"
        fixup = "commit -a --amend -C HEAD"
        l = "log --oneline"
        logg = "log --pretty=format:\"%h %D [%aN] (%ar) \\\"%s\\\"\" --graph"
        loggg = "log --pretty=format:\"%h %D [%aN] (%ad) \\\"%s\\\" %b\" --graph"

[grep]
        lineNumber = true
        patternType = perl

[gui]
        encoding = utf-8
        matchTrackingBranch = true

[help]
        autoCorrect = 1

[status]
        showUntrackedFiles = all

[user]
        name = gbrener
	email = gregshipssoftware@gmail.com
