[core]
        fileMode = false
        compression = 7
        bigFileThreshold = 1g
        editor = 'emacs -nw'
        pager = cat
        autocrlf = input

[alias]
        l = 'log --oneline'

#[commit]
#        template = ~/.gitcommit

[grep]
        lineNumber = true
        patternType = perl

[gui]
        encoding = utf-8
        matchTrackingBranch = true

[help]
        autoCorrect = 1

[status]
        showUntrackedFiles = all

[user]
        name = gbrener
	email = gbrener@continuum.io
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
