[Unit]
Description=Emacs: the extensible, self-documenting text editor
After=network-online.target

[Service]
Type=forking
ExecStart=/usr/bin/emacs --daemon
ExecStop=/usr/bin/emacsclient --eval "(kill-emacs)"
WorkingDirectory=/home/ubuntu/
User=ubuntu
Group=ubuntu
Environment="HOME=/home/ubuntu/"
StandardOutput=syslog
StandardError=syslog
Restart=always

[Install]
WantedBy=multi-user.target
